/dev/block/mmcblk0p15  0660  system     system
/dev/block/mmcblk0p16  0660  system     system
/dev/diag              0660  radio      radio
/dev/gemini0           0660  system     camera
/dev/genlock           0666  root       root
/dev/hsicctl*          0640  radio      radio
/dev/i2c-*             0660  root       system
/dev/ion               0664  system     system
/dev/kgsl-3d0          0666  root       root
/dev/mpu               0660  system     system
/dev/mpuirq            0660  system     system
/dev/msm_aac           0660  system     audio
/dev/msm_aac_in        0660  system     audio
/dev/msm_acdb          0660  system     audio
/dev/msm_amrnb         0660  system     audio
/dev/msm_amrnb_in      0640  system     audio
/dev/msm_amrwb         0660  system     audio
/dev/msm_camera/*      0660  system     camera
/dev/msm_evrc          0660  system     audio
/dev/msm_evrc_in       0660  system     audio
/dev/msm_multi_aac     0660  system     audio
/dev/msm_qcelp         0660  system     audio
/dev/msm_qcelp_in      0660  system     audio
/dev/msm_rotator       0660  system     graphics
/dev/msm_rtac          0660  system     audio
/dev/msm_vidc_dec      0660  system     audio
/dev/msm_vidc_dec_sec  0660  system     audio
/dev/msm_vidc_enc      0660  system     audio
/dev/msm_vidc_enc_sec  0660  system     audio
/dev/msm_vidc_reg      0660  system     audio
/dev/msm_wma           0660  system     audio
/dev/msm_wmapro        0660  system     audio
/dev/mtp_usb           0660  root       mtp
/dev/qce               0660  system     audio
/dev/qseecom           0660  system     drmrpc
/dev/radio_feedback    0660  radio      radio
/dev/rawchip0          0660  system     camera
/dev/rfkill            0660  root       wifi
/dev/rmnet_mux_ctrl    0640  radio      radio
/dev/rt5501            0660  system     audio
/dev/rtc0              0600  system     system
/dev/smd0              0660  system     system
/dev/smd2              0660  bluetooth  bluetooth
/dev/smd3              0660  bluetooth  bluetooth
/dev/smd4              0660  system     system
/dev/smd7              0660  bluetooth  bluetooth
/dev/smdcntl0          0640  radio      radio
/dev/smdcntl1          0640  radio      radio
/dev/smdcntl2          0640  radio      radio
/dev/smdcntl3          0640  radio      radio
/dev/smdcntl4          0640  radio      radio
/dev/smdcntl5          0640  radio      radio
/dev/smdcntl6          0640  radio      radio
/dev/smdcntl7          0640  radio      radio
/dev/tfa9887           0660  system     audio
/dev/tfa9887l          0660  system     audio
/dev/timerirq          0640  system     system
/dev/ttyHS0            0660  bluetooth  bluetooth
/dev/ttyHSL1           0660  system     system
/dev/ttyHSUSB1         0600  system     system
/dev/usb_accessory     0660  root       usb
/dev/video*            0660  system     camera

/sys/devices/i2c-12/12-0033/leds/flashlight                         brightness                0664  system     camera
/sys/devices/platform/htc_battery/power_supply/battery              navigation                0220  system     system
/sys/devices/platform/htc_battery/power_supply/battery              network_search            0220  radio      radio
/sys/devices/platform/htc_battery/power_supply/battery              phone_call                0220  radio      radio
/sys/devices/platform/m4_rfkill/rfkill/rfkill0                      state                     0660  bluetooth  bluetooth
/sys/devices/platform/m4_rfkill/rfkill/rfkill0                      type                      0660  bluetooth  bluetooth
/sys/devices/platform/msm_sdcc.*                                    polling                   0664  system     system
/sys/devices/platform/msm_serial_hs.0                               clock                     0660  bluetooth  bluetooth
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/amber  blink                     0664  system     system
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/amber  brightness                0664  system     system
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/amber  off_timer                 0664  system     system
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/green  blink                     0664  system     system
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/green  brightness                0664  system     system
/sys/devices/platform/msm_ssbi.0/pm8038-core/pm8xxx-led/leds/green  off_timer                 0664  system     system
/sys/devices/system/cpu/cpu*                                        cpufreq/scaling_max_freq  0644  system     system
/sys/devices/system/cpu/cpu*                                        cpufreq/scaling_min_freq  0644  system     system
/sys/devices/system/cpu/cpufreq/ondemand                            io_is_busy                0644  system     system
/sys/devices/system/cpu/cpufreq/ondemand                            sampling_down_factor      0644  system     system
/sys/devices/system/cpu/cpufreq/ondemand                            sampling_rate             0644  system     system
/sys/devices/system/cpu/cpu*                                        online                    0644  root       system
/sys/devices/virtual/gyro_sensors/gyro                              mpu_lpm_flag              0664  system     system
/sys/devices/virtual/htc_accessory/fm                               flag                      0644  system     system
/sys/devices/virtual/htc_accessory/tty                              flag                      0644  system     system
/sys/devices/virtual/optical_sensors/proximity                      PhoneApp_status           0660  system     system
/sys/devices/virtual/optical_sensors/proximity                      ps_adc                    0660  radio      radio
/sys/devices/virtual/optical_sensors/proximity                      ps_canc                   0660  radio      radio
/sys/devices/virtual/optical_sensors/proximity                      ps_kadc                   0660  radio      radio
/sys/devices/virtual/smdpkt/smdcntl*                                open_timeout              0664  radio      radio
/sys/devices/virtual/timed_output/vibrator                          voltage_level             0664  system     system
